.ico {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px !important;
    line-height: 37px;
    color: var(--Tcolor);
}

.initial {
    font-family: "Mako", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-top: 18px;
    color: var(--Tcolor);
}
.web {
    font-family: "Mako", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-top: 16px;
    color: var(--clr);
}

.ico-section {
    padding-top: 80px;
    padding-bottom: 60px;
}