:root {
  --font-size-large: 64px;
  --font-size-medium: 28px;
  --font-size-small: 16px;
  --para-size-large: 18px;
  --para-size-large: 12px;
  --padding: 20px;
  --margin: 40px;
  --heading-color: #000000;
  --body-color: #0e0e0e;
  --nav-color: #111111;
  --white: #ffffff;
  --blue-card: #deecf4;
  --line-color: #d0d0d0;
  --voilet: #080411;
  --voilet-button: #6f41d2;
  --blue-font-color:#4170F4;
  --lavender:#411143;
  --Tcolor:#333333;
}

